<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="abrirNuevo()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="agendas" [rows]="10" [paginator]="true" [globalFilterFields]="['nombres','apellidos','cedula','genero','edad']"
        [(selection)]="seleccionarAgendas" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{first} de {last} total: {totalRecords} registros" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombres">Nombres <p-sortIcon field="nombres"></p-sortIcon></th>
                <th pSortableColumn="apellidos">Apellidos <p-sortIcon field="apellidos"></p-sortIcon></th>
                <th pSortableColumn="cedula">Cédula <p-sortIcon field="cedula"></p-sortIcon></th>
                <th pSortableColumn="genero">Genero <p-sortIcon field="genero"></p-sortIcon></th>
                <th pSortableColumn="edad">Edad <p-sortIcon field="edad"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.nombres}}</td>
                <td>{{product.apellidos}}</td>
                <td>{{product.cedula}}</td>
                <td>{{product.genero}}</td>
                <td>{{product.edad}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total son {{agendas ? agendas.length : 0 }} registros.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="agendaDialogo" [style]="{width: '450px'}" header="Agregar Personas" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Nombres</label>
            <input type="text" pInputText id="name" [(ngModel)]="agenda.nombres" required autofocus />
            <small class="p-invalid" *ngIf="presentado && !agenda.nombres">Name is required.</small>
        </div>

        <div class="p-field">
            <label for="name">Apellidos</label>
            <input type="text" pInputText id="name" [(ngModel)]="agenda.apellidos" required autofocus />
            <small class="p-invalid" *ngIf="presentado && !agenda.apellidos">Name is required.</small>
        </div>

        <div class="p-field">
            <label for="name">Cédula</label>
            <input type="text" pInputText id="name" [(ngModel)]="agenda.cedula" required autofocus />
            <small class="p-invalid" *ngIf="presentado && !agenda.cedula">Name is required.</small>
        </div>

        <div class="p-field">
            <label for="name">Genero</label>
            <input type="text" pInputText id="name" [(ngModel)]="agenda.genero" required autofocus />
            <small class="p-invalid" *ngIf="presentado && !agenda.genero">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="name">Edad</label>
            <input type="text" pInputText id="name" [(ngModel)]="agenda.edad" required autofocus />
            <small class="p-invalid" *ngIf="presentado && !agenda.edad">Name is required.</small>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="cargarDialogo()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardarAgenda()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>